// v0.31 DAC re-pin: planar U2->U3 fan-out (R on 47,42..36; G 35..28; BLANK 27; B 26,25,20..15; H/V 14/13; DAC_CLK 3)
// REVIEW ONLY: pin constraints, NOT a complete fitted project.
// GW1N-LV4QN88C6/I5; configuration pins must be released to GPIO.
// Drive strength/slew/timing remain to be reviewed against routed PCB.
IO_LOC "DAC_B[7]" 15;
IO_PORT "DAC_B[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "REF_27M" 11;
IO_PORT "REF_27M" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "I2C_SCL" 59;
IO_PORT "I2C_SCL" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "I2C_SDA" 57;
IO_PORT "I2C_SDA" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_RESET_N" 60;
IO_PORT "ADC_RESET_N" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_CLK_RAW" 3;
IO_PORT "DAC_CLK_RAW" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_R[0]" 47;
IO_PORT "DAC_R[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_R[1]" 42;
IO_PORT "DAC_R[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_R[2]" 41;
IO_PORT "DAC_R[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_R[3]" 40;
IO_PORT "DAC_R[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_R[4]" 39;
IO_PORT "DAC_R[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_R[5]" 38;
IO_PORT "DAC_R[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_R[6]" 37;
IO_PORT "DAC_R[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_R[7]" 36;
IO_PORT "DAC_R[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_G[0]" 35;
IO_PORT "DAC_G[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_G[1]" 34;
IO_PORT "DAC_G[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_G[2]" 33;
IO_PORT "DAC_G[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_G[3]" 32;
IO_PORT "DAC_G[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_G[4]" 31;
IO_PORT "DAC_G[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_G[5]" 30;
IO_PORT "DAC_G[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_G[6]" 29;
IO_PORT "DAC_G[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_G[7]" 28;
IO_PORT "DAC_G[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_B[0]" 26;
IO_PORT "DAC_B[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_B[1]" 25;
IO_PORT "DAC_B[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_B[2]" 20;
IO_PORT "DAC_B[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_B[3]" 19;
IO_PORT "DAC_B[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_B[4]" 18;
IO_PORT "DAC_B[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_B[5]" 17;
IO_PORT "DAC_B[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_B[6]" 16;
IO_PORT "DAC_B[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_B[2]" 79;
IO_PORT "ADC_B[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_B[3]" 80;
IO_PORT "ADC_B[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_B[4]" 81;
IO_PORT "ADC_B[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_B[5]" 82;
IO_PORT "ADC_B[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_B[6]" 83;
IO_PORT "ADC_B[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_B[7]" 84;
IO_PORT "ADC_B[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_HS" 85;
IO_PORT "ADC_HS" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_VS" 86;
IO_PORT "ADC_VS" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_PSAVE_N" 56;
IO_PORT "DAC_PSAVE_N" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_PWDN" 61;
IO_PORT "ADC_PWDN" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_BLANK_N" 27;
IO_PORT "DAC_BLANK_N" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "H_OUT_RAW" 14;
IO_PORT "H_OUT_RAW" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "V_OUT_RAW" 13;
IO_PORT "V_OUT_RAW" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "POWER_GOOD" 62;
IO_PORT "POWER_GOOD" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_CLK" 63;
IO_PORT "ADC_CLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_R[0]" 48;
IO_PORT "ADC_R[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_R[1]" 49;
IO_PORT "ADC_R[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_R[2]" 50;
IO_PORT "ADC_R[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_R[3]" 51;
IO_PORT "ADC_R[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_R[4]" 52;
IO_PORT "ADC_R[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_R[5]" 53;
IO_PORT "ADC_R[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_R[6]" 54;
IO_PORT "ADC_R[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_R[7]" 55;
IO_PORT "ADC_R[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_G[0]" 68;
IO_PORT "ADC_G[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_G[1]" 69;
IO_PORT "ADC_G[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_G[2]" 70;
IO_PORT "ADC_G[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_G[3]" 71;
IO_PORT "ADC_G[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_G[4]" 72;
IO_PORT "ADC_G[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_G[5]" 73;
IO_PORT "ADC_G[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_G[6]" 74;
IO_PORT "ADC_G[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_G[7]" 75;
IO_PORT "ADC_G[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_B[0]" 76;
IO_PORT "ADC_B[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_B[1]" 77;
IO_PORT "ADC_B[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
