// REVIEW ONLY: pin constraints, NOT a complete fitted project.
// GW1N-LV4QN88C6/I5; configuration pins must be released to GPIO.
// Drive strength/slew/timing remain to be reviewed against routed PCB.
IO_LOC "DAC_B[7]" 3;
IO_PORT "DAC_B[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "REF_27M" 11;
IO_PORT "REF_27M" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "I2C_SCL" 13;
IO_PORT "I2C_SCL" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "I2C_SDA" 14;
IO_PORT "I2C_SDA" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_RESET_N" 15;
IO_PORT "ADC_RESET_N" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_CLK_RAW" 16;
IO_PORT "DAC_CLK_RAW" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_R[0]" 17;
IO_PORT "DAC_R[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_R[1]" 18;
IO_PORT "DAC_R[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_R[2]" 19;
IO_PORT "DAC_R[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_R[3]" 20;
IO_PORT "DAC_R[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_R[4]" 25;
IO_PORT "DAC_R[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_R[5]" 26;
IO_PORT "DAC_R[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_R[6]" 27;
IO_PORT "DAC_R[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_R[7]" 28;
IO_PORT "DAC_R[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_G[0]" 29;
IO_PORT "DAC_G[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_G[1]" 30;
IO_PORT "DAC_G[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_G[2]" 31;
IO_PORT "DAC_G[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_G[3]" 32;
IO_PORT "DAC_G[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_G[4]" 33;
IO_PORT "DAC_G[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_G[5]" 34;
IO_PORT "DAC_G[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_G[6]" 35;
IO_PORT "DAC_G[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_G[7]" 36;
IO_PORT "DAC_G[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_B[0]" 37;
IO_PORT "DAC_B[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_B[1]" 38;
IO_PORT "DAC_B[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_B[2]" 39;
IO_PORT "DAC_B[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_B[3]" 40;
IO_PORT "DAC_B[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_B[4]" 41;
IO_PORT "DAC_B[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_B[5]" 42;
IO_PORT "DAC_B[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_B[6]" 47;
IO_PORT "DAC_B[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_B[2]" 48;
IO_PORT "ADC_B[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_B[3]" 49;
IO_PORT "ADC_B[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_B[4]" 50;
IO_PORT "ADC_B[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_B[5]" 51;
IO_PORT "ADC_B[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_B[6]" 52;
IO_PORT "ADC_B[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_B[7]" 53;
IO_PORT "ADC_B[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_HS" 54;
IO_PORT "ADC_HS" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_VS" 55;
IO_PORT "ADC_VS" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_PSAVE_N" 56;
IO_PORT "DAC_PSAVE_N" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_PWDN" 57;
IO_PORT "ADC_PWDN" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DAC_BLANK_N" 59;
IO_PORT "DAC_BLANK_N" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "H_OUT_RAW" 60;
IO_PORT "H_OUT_RAW" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "V_OUT_RAW" 61;
IO_PORT "V_OUT_RAW" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "POWER_GOOD" 62;
IO_PORT "POWER_GOOD" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_CLK" 63;
IO_PORT "ADC_CLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_R[0]" 68;
IO_PORT "ADC_R[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_R[1]" 69;
IO_PORT "ADC_R[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_R[2]" 70;
IO_PORT "ADC_R[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_R[3]" 71;
IO_PORT "ADC_R[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_R[4]" 72;
IO_PORT "ADC_R[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_R[5]" 73;
IO_PORT "ADC_R[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_R[6]" 74;
IO_PORT "ADC_R[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_R[7]" 75;
IO_PORT "ADC_R[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_G[0]" 76;
IO_PORT "ADC_G[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_G[1]" 77;
IO_PORT "ADC_G[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_G[2]" 79;
IO_PORT "ADC_G[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_G[3]" 80;
IO_PORT "ADC_G[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_G[4]" 81;
IO_PORT "ADC_G[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_G[5]" 82;
IO_PORT "ADC_G[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_G[6]" 83;
IO_PORT "ADC_G[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_G[7]" 84;
IO_PORT "ADC_G[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_B[0]" 85;
IO_PORT "ADC_B[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "ADC_B[1]" 86;
IO_PORT "ADC_B[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
